<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMC</title>
    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/mbr-additional.css" rel="stylesheet" />
    <link href="~/Content/theme/style.css" rel="stylesheet" />
    <link href="~/Content/socicon/styles.css" rel="stylesheet" />
    <link href="~/Content/dropdown/style.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>



    
    <style type="text/css">
        .form-control {
            border: 1px solid #000;
        }
    </style>

</head>
<body>
    @Html.Partial("Menu", "Painel")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SMC</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script type="text/javascript">
        $('.cep').mask('00000-000');
        $('.cpf').mask('000.000.000-00');
        $('.data').mask('00/00/0000');
        $('.telefone').mask('(00)000000000');
        $('.cnpj').mask('99.999.999/9999-99');

        //Buscar Cep
        function busca_cep(CEP_INFO) {
            var n_cep = Number(CEP_INFO.length);
            if (CEP_INFO) {
                $.ajax({
                    type: "GET",
                    url: "https://viacep.com.br/ws/" + CEP_INFO + "/json/?callback=",
                    dataType: "jsonp",
                    beforeSend: load_in(),
                    success: function (data) {
                        if (data !== null) {
                            $(".user_uf").val(data.uf);
                            $(".user_cidade").val(data.localidade);
                            $(".user_complemento").val(data.complemento);
                            $(".user_bairro").val(data.bairro);
                            $(".user_endereco").val(data.logradouro);
                            calcular_frete();
                        } else {
                            load_out();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        load_out();
                        alert('ok');
                    }
                });
                load_out();
            }
        }
        //Carregar Imagem Load enquanto busca o Cep
        $(document).ajaxStop($.unblockUI);
        function load_in() {
            $.blockUI({ message: '<H1><img src="~/_img/load.gif" /></H1><H1></H1>' });
        }
        function load_out() {
            $.unblockUI();
        }
    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
